@font-face {
  font-family: 'YSpotlight';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/YSpotlight/YSpotlight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/YSpotlight/YSpotlight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/YSpotlight/YSpotlight.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/YSpotlight/YSpotlight.ttf') format('truetype');
}
